<footer class="app-footer">
  <small>
    &copy; Rob Lensen &lt;<a href="mailto:rob@bsdfreaks.nl">rob@bsdfreaks.nl</a>&gt; ·
    <a href="https://github.com/phpdivinglog/phpdivinglog" target="_blank" rel="noopener noreferrer">GitHub</a>
  </small>
</footer>
