<nav>
  <a href="/">Dives</a>
  <a href="/sites">Sites</a>
  <a href="/countries">Countries</a>
  <a href="/trips">Trips</a>
  <a href="/equipment">Equipment</a>
  <a href="/stats">Stats</a>
  <a href="/api/dives">API</a>
</nav>
