{% extends 'layout.html.twig' %}

{% block content %}
  <section class="dive-overview-panel">
    <div class="dive-overview-head">
      <h2>{{ city.name }}</h2>
    </div>

    <div class="entity-meta-grid">
      {% if city.comment %}
        <p><strong>Comment:</strong> {{ city.comment }}</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
