{% extends 'layout.html.twig' %}

{% block content %}
  <h2>Shops</h2>
  <ul>
    {% for shop in shops %}
      <li><a href="/shops/{{ shop.id }}">{{ shop.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
