{% extends 'layout.html.twig' %}

{% block content %}
  <section class="dive-detail-page">
    {% include 'partials/dive_detail_content.html.twig' %}
  </section>

  <script src="/assets/js/tables.js" defer></script>
  <script src="/assets/js/profile-chart.js" defer></script>
  <script src="/assets/js/lightbox.js" defer></script>
  <script src="/assets/js/dive-detail-nav.js" defer></script>
{% endblock %}
