{% extends 'layout.html.twig' %}

{% block content %}
  <section class="dive-overview-panel">
    <div class="dive-overview-head">
      <h2>Gallery</h2>
    </div>
    <ul class="gallery-grid">
      {% for picture in pictures %}
        <li>
          <a href="{{ picture.url }}" data-lightbox>
            <img src="{{ picture.thumb }}" alt="{{ picture.description|default('Dive image') }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <script src="/assets/js/lightbox.js" defer></script>
{% endblock %}
