{% extends 'layout.html.twig' %}

{% block content %}
  <h2>{{ country.name }}</h2>
  {% if country.flagUrl %}
    <img src="{{ country.flagUrl }}" alt="Flag of {{ country.name }}">
  {% endif %}
{% endblock %}
