{% extends 'layout.html.twig' %}

{% block content %}
  <section class="dive-overview-panel">
    <div class="dive-overview-head">
      <h2>Cities</h2>
    </div>

    <div class="table-wrap">
      <table class="dives-table" data-dives-table data-sortable>
        <thead>
          <tr>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          {% for city in cities %}
            <tr data-href="/cities/{{ city.id }}" tabindex="0" role="link" aria-label="Open city {{ city.name }}">
              <td><a href="/cities/{{ city.id }}">{{ city.name }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <script src="/assets/js/tables.js" defer></script>
{% endblock %}
