<section class="summary-shell">
  <h3>Dive Summary</h3>
  <dl>
    <div>
      <dt>Total dives</dt>
      <dd>{{ diveCount }}</dd>
    </div>
    <div>
      <dt>Max depth</dt>
      <dd>{{ maxDepth }}</dd>
    </div>
    <div>
      <dt>Total duration</dt>
      <dd>{{ totalDurationMinutes }} min</dd>
    </div>
  </dl>
</section>
