 body, table, td, th, input, textarea, select
 {
/* font: normal 12px arial, helvetica, "liberation sans", "dejavu sans condensed", sans-serif;*/
	font: 90%/175% Georgia, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

 margin: 0; 
 padding: 0;
 /* text-align: center;*/
}

div#content
 {
 text-align: left;
 width: 700px;
/*width: 80%;*/
 margin-right: auto;
 margin-left: auto;

}

tr.divesection td { 
	font-weight: bold; 
	color: #000000; 
	font-size: 9pt; 
	background-color: #D3D3D3;
	padding-bottom: 3px;
}
tr.divetitle td { 
	font-weight: normal; 
	color: #808080;
	font-size: 9pt;
	line-height: 140%;
	text-decoration: none;
}
tr.divecontent td { 
	font-weight: normal; 
	color: #000000;
	font-size: 9pt;
	line-height: 140%;
	text-decoration: none;
	padding-bottom: 5px;
}
tr.divelogtitle td { 
	font-weight: bold; 
	color: #000000;
	font-size: 8pt;
	line-height: 140%;
	text-decoration: none;
	background-color: #D3D3D3;
	padding-bottom: 5px;
}
a.divelogcrumbs:link,
a.divelogcrumbs:visited {
	color: #808080;
	text-decoration: none;
}
a.divelogcrumbs:hover {
	color: #000000;
	text-decoration: underline;
}
.divelogcrumbs {
	color: #808080;
	font-size: 8pt;
	line-height: 140%;
	text-decoration: none;
	margin-left: 0px;
}

.centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }

div#center_images {
    position: relative;
    overflow: hidden;
    margin-left: 30px;
}

div.thumbwrapper {
    background:#F0EEE0 none repeat scroll 0% 0%;
    border:1px solid #AFAB8E;
    float:left;
    height:150px;
    margin:8px;
    padding:5px;
    text-align:center;
    width:130px;
}
